.webscape-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}
.webscape-navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.webscape-navbar-links-logo {
  margin-right: 2rem;
}

.webscape-navbar-links-logo img {
  width: 50px;
  height: 50px;
}

.webscape-navbar-links-container {
  display: flex;
  flex-direction: row;
}

.webscape-navbar-links-container p ,
.webscape-navbar-sign p,
.webscape-navbar-menu-container p{
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin:0 1rem;
  cursor: pointer;
}








.webscape-navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
